.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
  background-color: black;
  border-radius: 50% ;
  padding: 10px;
  box-shadow: 5px 5px 8px rgb(255, 153, 0), 10px 10px 8px rgb(251, 255, 0), 15px 15px 8px rgb(147, 250, 29);
  font-family: "School Holic 5";
}
 .activeCard {
  color: red;
  background: pink;
  background-color: rgb(12, 11, 11);
 }
 .button {
   margin: 1em;
   
 }
#media{
  position: center;
  right: 0;
  bottom:0;
  min-width: 0px;
  min-height: 0px;
  font-size: 2em;
  font-family: "Volkszeitung 21";
}
#ans{
  font-size: 3em;
  color: #f70909;
  font-family: "Volkszeitung 21";
}
#play{
  font-size: 3em;
  color: #0f0f0f;
  background-clip: content-box;
  font-family: "Volkszeitung 21";
}
#result{
  font-size: 3em;
  font-family: "Volkszeitung 21";
}
#newgame,#close{
  font-size: 3em;
  background-color: rgb(235, 37, 113);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  font-family: "School Holic 7";
}
body{
  background : url(./background.jpg);
}
#word{
  color: pink;
}
#welcome{
  font-family: "SwEeT yElLoW";
  text-shadow: 2px 2px 8px rgb(255, 174, 0);
  font-size: 8em;
}
#again{
  font-size: 2em;
  font-family: "Volkszeitung 21";
}
#input{
  font-size: 3em;
  font-family: "Volkszeitung 21";
}
